<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Cyface</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version of Privacy Policy Accepted</string>
			<key>Key</key>
			<string>de.cyface.settings.privacy_policy_version</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Driving Context</string>
			<key>Key</key>
			<string>de.cyface.settings.context</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Is logged in</string>
			<key>Key</key>
			<string>de.cyface.settings.loggedin</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>de.cyface.password</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>de.cyface.login</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Installation Identifier</string>
			<key>Key</key>
			<string>de.cyface.identifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Cyface Server URL</string>
			<key>Key</key>
			<string>de.cyface.serverurl</string>
			<key>DefaultValue</key>
			<string>https://s2-b.cyface.de/api/v3/</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Synchronize Data</string>
			<key>Key</key>
			<string>de.cyface.sync_toggle</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>File</key>
			<string>about</string>
		</dict>
	</array>
</dict>
</plist>
