<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Bitte erlauben Sie die Aufzeichnung der Strecke, damit wir Ihrer Kommune Ihre Daten zur Ermittlung der Bereitschaft für Roboter zur Verfügung stellen können.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Bitte erlauben Sie die Aufzeichnung der Strecke im Hintergrund, damit wir Ihrer Kommune Ihre Daten zur Ermittlung der Bereitschaft für Roboter zur Verfügung stellen können.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string>RFR-Logo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
